<% layout('layout'); %>


<div class="sub-header">
  <div class="container">
    <div class="grid-12"><h2>Blog</h2></div>
    <div class="clear"></div>
  </div>
</div>


<div class="blog">
  <div class="container">
    <div class="grid-12">
      <div class="rw">
        <div class="space20"></div>
        <div class="articles">
          <% if( articles.length >= 1 ){ %>
          <ol class="breadcrumbs">
            <li><a href="/article">Mes articles</a></li>
            <div class="clear"></div>
          </ol>
          <% articles.forEach(function(article){ %>
          <div class="article">
            <h3><a href="/blog/<%-article.id%>/<%-article.seo_url%>"><%-article.title%></a></h3>
            <i>Posté le
              <%-( article.createdAt.getDate() > 9 ) ? article.createdAt.getDate() : '0'+article.createdAt.getDate()%>/<%-( article.createdAt.getMonth() + 1 > 9 ) ? article.createdAt.getMonth() + 1 : '0'+article.createdAt.getMonth() + 1%>/<%-article.createdAt.getFullYear()%> dans <%-article.ArticleCategory.name%>
            </i>
            <p>
              <%-article.content.substring(0, 250 )%>...
            </p>
          </div>
          <div class="space20"></div>
          <% }); %>
          <% }else{ %>
          <div class="alert alert-info">
            Il n'y a aucun article.
          </div>
          <div class="space20"></div>
          <% } %>
          <% if( allArticles.length > options.numberOfLines ){ %>
          <div class="space20"></div>
          <ul class="pagination">
            <% id = parseInt(id); %>
            <% if( id > 1 ){ %>
            <% var prevId = id - 1; %>
            <li class="is-first"><a href="/article/page/<%-prevId%>">&laquo;</a></li>
            <% }else{ %>
            <li class="is-first"><a href="#">&laquo;</a></li>
            <% } %>
            <% for( var i = 0; i < Math.ceil(allArticles.length/parseInt(options.numberOfLines)); i++ ){%>
            <% var page = i+1; %>
            <% if( id === page ){ %>
            <li class="is-current"><a href="/article/page/<%-page%>"><%-page%></a></li>
            <% }else{ %>
            <li><a href="/article/page/<%-page%>"><%-page%></a></li>
            <% } %>
            <% } %>
            <% if( id < Math.ceil(allArticles.length/parseInt(options.numberOfLines)) ){ %>
            <% var nextId = id + 1; %>
            <li class="is-last"><a href="/article/page/<%-nextId%>">&raquo;</a></li>
            <% }else{ %>
            <li class="is-last"><a href="#">&raquo;</a></li>
            <% } %>
          </ul>
          <div class="space20"></div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
