<% layout('../_layout'); %>
<div class="ui-block">
  <div class="ui-block-title"><h5>Ajout d'un projet</h5></div>
  <div class="ui-block-content">
    <form action="/project/create" method="POST" class="form" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="<%- csrfToken %>">
      <div class="form-group">
        <label for="title" class="control-label">* Titre</label>
        <input type="text" id="title" name="project[title]" class="form-control" placeholder="Titre du projet">
      </div>
      <div class="form-group">
        <label for="author" class="control-label">* Auteur</label>
        <input type="text" id="author" name="project[author]" class="form-control" placeholder="Auteur du projet">
      </div>
      <div class="form-group">
        <label for="place" class="control-label">* Lieu</label>
        <input type="text" id="place" name="project[place]" class="form-control" placeholder="Lieu du projet">
      </div>
      <div class="form-group">
        <label for="description" class="control-label">* Description</label>
        <textarea name="project[description]" id="description" class="form-control" cols="30" rows="10" placeholder="Description du projet"></textarea>
      </div>
      <div class="form-group">
        <label for="thumbnail" class="control-label">* Image miniature</label>
        <input type="file" id="thumbnail" name="thumbnail" class="form-control" placeholder="Image miniature du projet" required>
        <p class="help-block">Format : JPEG - Taille (px) : <%=themeOptions.modules.portfolio.thumbnail.imgWidth%> x <%=themeOptions.modules.portfolio.thumbnail.imgHeight%></p>
      </div>
      <div class="form-group">
        <label for="link" class="control-label">* Lien</label>
        <input type="url" id="link" name="project[link]" class="form-control" placeholder="Lien vers le projet">
      </div>
      <div class="form-group">
        <label for="slider">* Images de slider</label>
        <input type="file" name="slider" class="form-control" placeholder="Images de slider du projet" multiple required>
        <p class="help-block">Format : JPEG - Taille (px) : <%=themeOptions.modules.portfolio.photo.imgWidth%> x <%=themeOptions.modules.portfolio.photo.imgHeight%></p>
      </div>
      <div class="form-group">
        <label for="category" class="control-label">* Categorie</label>
        <select name="project[ProjectCategoryId]" id="category" class="form-control">
          <% categories.forEach(function(category){ %>
          <option value="<%-category.id%>"><%-category.name%></option>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label for="state" class="control-label">* Etat</label>
        <select name="project[state]" id="state" class="form-control">
          <option value="1">En ligne</option>
          <option value="0">Hors-ligne</option>
        </select>
      </div>
      <input type="submit" class="btn btn-default" value="Enregistrer">
      <div class="clear"></div>
    </form>
  </div>
</div>
